h1,h3 {text-align:center; font-size: 42pt;}
h1,h2,h3	{font-family:'LiquidismRegular', fantasy; margin:10px;
	 text-shadow: 3px 3px #00890D;}
h2 {margin-left:12%; text-align:left; font-size: 32pt;
	text-shadow:3px 3px #dddddd}
h3 {font-size: 24pt; text-shadow:2px 2px #00890D;}
h4 {margin-left: 5px;}
body{background-color:#00680A; background-image:url('images/tex.gif');}
p {margin-left:2%; margin-right: 2%; margin-top:2%; text-indent: 14px;
	font-size: 14pt;}
img {margin: 6px;}
img.mugshot{max-width:220px; max-height:550px;}
img.medal {max-width: 40px; max-height: 40px; float:none; 
		margin-left: 2px; margin-right: 0px; margin-top: 1px;}

dl{margin-left: 5px; margin-right: 5px;}
dt{font-weight:bold;}
dd{}

a.agent{color:black;}
a.agent:visited{color:#222222;}
a.agent:hover{color:#FF7811;}

#ticker		{background-color:#B13E02; font-family: "Verdana", 
				sans-serif; font-style:italic;}
#ticker	a	{color:White; font-weight:bold;}

div.links a,div.links a:visited{color:#111111; background-color:#C35401; padding:5px;}
div.links a:hover{color:#FFFFFF;background-color:#111111;padding:8px;}
div.links ul	{float:left; list-style-type:none;}
div.links li	{margin:12px;}

div.container {margin-left: auto; margin-right:auto;
			width: 80%; min-width: 583px; overflow: hidden;
			background-color:#dddddd;}

div.content, div.links	{margin:5px; overflow:hidden; background-color:#D3640E;}
div.content img	{width:320px; border-bottom:4px solid #222222; 
				border-right:4px solid #222222; border-top:1px solid #222222;
				border-left:1px solid #222222;}
div.content p		{max-width:520px;}
div.content ul	{float:left; margin-left: 14px; font-size:16pt; 
					font-family: "impact", fantasy;}

div.bottomline	{background-image:url('images/carlyCamo.png'); margin:6px;
					padding:2px; width:440px; color:#33FF33; 
					border:2px solid #FF7811; overflow:hidden;}
.mugshot,.medals,.bio,.history ,.squadMedals{margin: 5px;}
div.mugshot {background-color: #D3640E; margin: 2px; float: left; width:44%; min-width:auto;}
div.bio {background-color: #D3640E; float:right; max-width: 360px}
div.medals{background-color: #D3640E; width:96%; margin-right:auto;
			Margin-left: auto; overflow:hidden; clear:both;}
div.history{background-color: #D3640E; float:right; min-width: 180px; width:40%}
div.squadMedals,div.links {background-color: #D3640E; float: center; clear: both;
	padding:10px;}
#ticker		{position:relative; overflow:hidden;}
img#logo {float:right; max-width:124px; background-color:white;}


@font-face {
    font-family: 'LiquidismRegular';
    src: url('fonts/Liquidism-webfont.eot');
    src: url('fonts/Liquidism-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Liquidism-webfont.woff') format('woff'),
         url('fonts/Liquidism-webfont.ttf') format('truetype'),
         url('fonts/Liquidism-webfont.svg#LiquidismRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}